html {
  scroll-behavior: smooth;
}
/* Навигация по якорям */
.anchor-nav {
  background: #f0f0f0;
  border-radius: 10px;
  padding: 10px 20px;
  margin-bottom: 20px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.05);
  position: sticky;
  top: 140px;
  z-index: 900;
}
.anchor-nav ul {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}
.anchor-nav a {
  color: #6d7378;
  text-decoration: none;
  font-weight: 500;
  padding: 6px 10px;
  border-radius: 6px;
  transition: all 0.2s ease;
}
.anchor-nav a:hover,
.anchor-nav a.active {
  color: black;
  border-bottom: 2px solid #ffd700;
  background-color: rgba(255, 215, 0, 0.15);
  transition: all 0.25s ease;
}
/* Заголовки и разделы */
.pay_section {
  margin-bottom: 40px;
  padding-bottom: 25px;
  position: relative;
}
/* Добавляем мягкую градиентную линию */
.pay_section::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background: linear-gradient(
    to right,
    transparent,
    rgba(136, 136, 136, 0.4),
    transparent);
}
.payments {
  color: black;
  font-size: clamp(1.3rem, 1vw + 1rem, 2rem);
  margin: 10px 0;
  border-left: 4px solid #e6c200;
  padding-left: 10px;
}
.payments_h3 {
  color: #888;
  font-size: clamp(1rem, 0.8vw + 0.7rem, 1.4rem);
  margin-bottom: 15px;
}

.pay_section p {
  line-height: 1.8;
  font-size: clamp(0.9rem, 0.7vw + 0.6rem, 1.1rem);
}
/* Учитываем высоту фиксированного header */
:target {
  scroll-margin-top: 185px;
}
.pay_section:last-of-type {
  margin-bottom: 200px; /* чтобы позволить доскроллить */
}
.product_exit {
  display: inline-block;
  padding: 12px 28px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 500;
  font-size: clamp(0.9rem, 1vw + 0.5rem, 1.1rem);
  background: linear-gradient(145deg, #FFD700, #e6c200);
  color: #222;
  border: 1px solid #ffd700;
  transition: all 0.3s ease;
  margin-top: 15px;
}

/* Hover: мягкое золотое свечение */
.product_exit:hover {
  background: linear-gradient(145deg, #e0e0e0, #b0b0b0);
  color: #000;
  box-shadow: 0 0 12px rgba(255, 215, 0, 0.6);
}

a[href^="tel:"] {
  text-decoration: none;
  color: inherit;
  font-weight: 500;
}

a[href^="tel:"]:hover {
  color: #e6c200;
}
@media (max-width: 901px) {
  .anchor-nav {
    display: none;
  }
}

