.viewed-carousel {
    display: flex;
    flex-wrap: nowrap; /* не переносим карточки */
    justify-content: left-start;
    gap: 20px;
    overflow-x: auto;
    padding-bottom: 10px;
    scrollbar-width: thin;
}
.viewed-carousel::-webkit-scrollbar {
    height: 6px;
    background: #f0f0f0;
}
.viewed-carousel::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 3px;
}
.view-products {
    text-align: center;
    margin-bottom: 10px;
     margin-top: 10px;
}
.price {
  font-size: 0.9rem;
  margin: 5px 0;
  color: #333;
}
.card-bottom {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
}