{% extends "basic.html" %}
{% load static %}

{% block title %}Страница не найдена{% endblock %}

{% block content %}
<main class="main-content text-center py-10">
    <img src="{% static 'image/404.jpg' %}" alt="404 Not Found" class="error-image">

    <h1 class="mt-6">Упс! Страница не найдена 😕</h1>
    <p class="mt-2">
        Похоже, вы перешли по несуществующей ссылке.<br>
        Вернитесь на главную страницу или выберите раздел.
    </p>

    <div class="button_container mt-6">
        <a href="#" class="button-link">Электрика</a>
        <a href="#" class="button-link">Сантехника</a>
        <a href="#" class="button-link">Газификация</a>
    </div>

    <div class="mt-6">
        <a href="{% url 'main' %}" class="button-link">На главную</a>
    </div>

</main>
{% endblock %}