<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Главная{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="shortcut icon" href="{% static 'image/favicon.ico' %}" type="image/x-icon">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
<div class="container">
    <header class="header">
        <div class="top-links">
        <a href="{% url 'main' %}">Главная</a>
        <a href="{% url 'catalog' %}">Каталог</a>
        <a href="{% url 'payments' %}">Оплата и доставка</a>
        <a href="#" id="open-feedback">Обратная связь</a>
        <a href="{% url 'partners' %}">Наши партнёры</a>
        <a href="{% url 'contacts' %}" >Контакты</a>
        </div>

        <div class="main-header">
        <a href="{% url 'main' %}"><img src="{% static 'image/electro.png' %}" alt="СпецЭлектроБелТорг"></a>

            <div>
            <form action="{% url 'search' %}" method="get">
            <input type="text" name="q" placeholder="Поиск ">
            <button type="submit">Найти</button>
            </form>
            </div>

            <div class="header-right">
                <div class="contact-info-wrapper">
                <div class="contact-info">
                <p><i class="fa-solid fa-phone"></i>
                <a href="tel:+375177427127" class="phone-link">+375 17 742-71-27</a></p>
                <p><i class="fa-solid fa-mobile-screen-button"></i>
                <a href="tel:+375298677295" class="phone-link">+375 29 867-72-95</a></p>
                </div>
                </div>
            </div>

            <a href="{% url 'basket' %}"><div class="cart-icon"><i class="fa-solid fa-cart-shopping"></i>
                <span id="cart-count" class="cart-count">0</span> <!-- счётчик --></div></a>
            </div>
    </header>

    <nav class="sidebar">
        <ul class="catalog-list">
            {% for rubric in rubrics %}
                <li><a href="{% url 'subrubrics' rubric.pk %}">
          <!-- Иконка категории -->
                    <i class="{% if rubric.rubric_name == 'Электрика' %}fas fa-lightbulb{% elif rubric.rubric_name == 'Сантехника' %}fas fa-tint{% elif rubric.rubric_name == 'Газовое оборудование' %}fas fa-fire{% else %}fas fa-folder{% endif %}"></i>
                <div class="text">{{ rubric.rubric_name }}</div></a>
                    <ul class="subcategory">
                        {% for sub in rubric.electro_set.all|dictsort:"title" %}
                            <li><a href="{% url 'products' sub.rubric.pk sub.pk  %}"> {{ sub.title }}</a></li>
                        {% endfor %}
                        {% for sub in rubric.gas_set.all|dictsort:"title" %}
                            <li><a href="{% url 'products' sub.rubric.pk sub.pk %}">{{ sub.title }}</a></li>
                        {% endfor %}
                        {% for sub in rubric.santeh_set.all|dictsort:"title" %}
                            <li><a href="{% url 'products' sub.rubric.pk sub.pk %}">{{ sub.title }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}
        </ul>
    </nav>

   <main class="main-content">
<!-- === ВСПЛЫВАЮЩАЯ ФОРМА ОБРАТНОЙ СВЯЗИ === -->

<div id="overlay_fb"></div>

<div id="feedback-modal">
  <button id="close-feedback" class="close-btn">&times;</button>
  <h2>Обратная связь</h2>
  <form id="feedback-form" action="/send-message" method="post">
    <input type="text" name="name" placeholder="Ваше имя" required>
    <input type="email" name="email" placeholder="Ваш Email" required>
    <input type="text" name="subject" placeholder="Тема сообщения" required>
    <textarea name="message" placeholder="Ваше сообщение" rows="5" required></textarea>
    <button type="submit" class="send-btn">Отправить</button>
  </form>
</div>
       {% block content %}

        {% endblock %}
    </main>




    <footer class="footer">
        <h4>Частное предприятие «СпецЭлектроБелТорг» — магазин «Электротовары»</h4>
        <h4> тел +375 17 742-71-27, +375 29 867-72-95</h4>
        <h4> УНП 690846458 </h4>
        <p>© 2025 СпецЭлектроБелТорг</p>
    </footer>
</div>
<script src="{% static 'js/menu.js' %}"></script>
<script src="{% static 'js/reviews.js' %}"></script>
<script src="{% static 'js/utils.js' %}"></script>
<script src="{% static 'js/cart_count.js' %}"></script>
<script src="{% static 'js/set_basket.js' %}"></script>
<script src="{% static 'js/basket.js' %}"></script>
<script src="{% static 'js/order_form.js' %}"></script>
<script src="{% static 'js/feedback.js' %}"></script>
</body>
</html>