<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Главная{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="shortcut icon" href="{% static 'image/favicon.ico' %}" type="image/x-icon">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
<div class="container">
    <header class="header">
        <div class="top-links">
        <a href="#">Главная</a>
        <a href="#">Каталог</a>
        <a href="#">Оплата и доставка</a>
        <a href="#">Отзывы</a>
        <a href="#">Контакты</a>
        <a href="#">Наши партнеры</a>
        </div>

        <div class="main-header">
        <a href="{% url 'main' %}"><img src="{% static 'image/electro.png' %}" alt="СпецЭлектроБелТорг"></a>
        </div>
    </header>
    <nav class="sidebar">
        <ul class="catalog-list">
            {% for rubric in rubrics %}
                <li>
                    <a href="#">
          <!-- Иконка категории -->
<i class="{% if rubric.rubric_name == 'Электрика' %}fas fa-lightbulb{% elif rubric.rubric_name == 'Сантехника' %}fas fa-tint{% elif rubric.rubric_name == 'Газификация' %}fas fa-house-fire{% else %}fas fa-folder{% endif %}"></i>
          <span class="text">{{ rubric.rubric_name }}</span>
        </a>
<!--                    <button class="toggle-btn">{{ rubric.rubric_name }}</button>-->
<!--                    <strong>{{ rubric.rubric_name }}</strong>-->
                    <ul class="subcategory">
                        {% for sub in rubric.electro_set.all %}
                            <li> <a href="{% url 'rubric_electro' sub.pk %}"> {{ sub.title }}</a></li>
                        {% endfor %}
                        {% for sub in rubric.gas_set.all %}
                            <li><a href="{% url 'rubric_gas' sub.pk %}">{{ sub.title }}</a></li>
                        {% endfor %}
                        {% for sub in rubric.santeh_set.all %}
                            <li><a href="{% url 'rubric_santeh' sub.pk %}">{{ sub.title }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}
        </ul>
    </nav>

   <main class="main-content">
        <div class="button_container">
            {% for rubric in rubrics %}
            {% if rubric.rubric_name == "Электрика" %}
            <a href="{% url 'rubric_electro' rubric.pk %}" class="button-link">{{ rubric.rubric_name }}</a>
            {% elif rubric.rubric_name == "Сантехника" %}
            <a href="{% url 'rubric_santeh' rubric.pk %}" class="button-link">{{ rubric.rubric_name }}</a>
            {% elif rubric.rubric_name == "Газовое оборудование" %}
            <a href="{% url 'rubric_gas' rubric.pk %}" class="button-link">{{ rubric.rubric_name }}</a>
            {% endif %}
            {% endfor %}
        </div>
       {% block content %}

        {% endblock %}
    </main>
    <footer class="footer">
    <!--карта-->
    <div style="position:relative;overflow:hidden; width: 600px; height: 500px;">
        <a href="https://yandex.by/maps/org/spetselektrobeltorg/64618297849/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:0px;">СпецЭлектроБелТорг</a>
        <a href="https://yandex.by/maps/26002/logoysk/category/electronic_goods_store/184108095/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:14px;">Магазин электротоваров в Логойске</a>
        <iframe src="https://yandex.by/map-widget/v1/org/spetselektrobeltorg/64618297849/?ll=27.835430%2C54.199529&z=15.72" width="560px" height="400px" frameborder="1" allowfullscreen="true" style="position:relative;"></iframe>
    </div>
        <p>© 2025 СпецЭлектроБелТорг</p>
    </footer>
</div>
<script>
document.addEventListener('DOMContentLoaded', function () {
  const btn = document.getElementById('menu-toggle');
  const overlay = document.getElementById('overlay');

  if (btn) {
    btn.addEventListener('click', () => {
      document.body.classList.toggle('sidebar-open');
    });
  }

  if (overlay) {
    overlay.addEventListener('click', () => {
      document.body.classList.remove('sidebar-open');
    });
  }

  // закрываем по Esc
  document.addEventListener('keydown', (e) => {
    if (e.key === 'Escape') document.body.classList.remove('sidebar-open');
  });
});
</script>
</body>
</html>