{% extends 'basic.html' %}
{% load static %}

{% block title %}Корзина{% endblock %}

{% block content %}

<!--нужен для js, в basket.js на 17-26 строчке-->
<div id="basket"></div>


<!--это связано с order_form.js-->
<div id="overlay" style="display:none; position:fixed; top:0; left:0; width:100%; height:100%; background:#00000088; z-index:999;"></div>
<form id="order-form"
      data-url="{% url 'order_api_create' %}"
      style="display:none; position:fixed; top:20%; left:50%; transform:translateX(-50%); background:white; padding:20px; border-radius:8px; z-index:1000;">
  {% csrf_token %}
  <h2>Оформление заказа</h2>
  {{ form.as_p }}
  <div id="response-message-error" style="color:red;"></div>
  <br>
  <button type="submit">Подтвердить заказ</button>
</form>
<div id="response-message"></div>


<script src="{% static 'js/utils.js'%} " defer></script>
<script src="{% static 'js/basket.js'%} " defer></script>
<script src="{% static 'js/order_form.js'%} " defer></script>
{% endblock %}