{% extends 'basic.html' %}
{% load static %}

{% block title %}Каталог{% endblock %}

    {% block styles %}
    <link rel="stylesheet" href="{% static 'css/catalog.css' %}">
{% endblock %}


{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/pagination.css' %}">
{% endblock %}

{% block content %}
<main class="main-content">

  <!-- === Верхние кнопки разделов === -->
  <div class="catalog-top-buttons">
    {% for rubric in rubrics %}
      <button type="button" class="catalog-btn" data-rubric="{{ rubric.rubric_name }}">
        {% if rubric.rubric_name == "Электрика" %}
          <i class="fas fa-bolt"></i>
        {% elif rubric.rubric_name == "Сантехника" %}
          <i class="fas fa-faucet"></i>
        {% elif rubric.rubric_name == "Газовое оборудование" %}
          <i class="fas fa-fire"></i>
        {% else %}
          <i class="fas fa-folder"></i>
        {% endif %}
        <span>{{ rubric.rubric_name }}</span>
      </button>
    {% endfor %}
  </div>

  <!-- === Подкатегории === -->
  <section class="subcategories-section" id="subrubric-list">
      <ul class="subcategories-list"> </ul> </section>


  <!-- === Все товары === -->
  <section class="products-section">
  <div class="products-grid">
    {% for product in page_obj %}
      <div class="product-card-catalog">
        {% if product.photo %}
          <img src="{{ product.photo.url }}" alt="{{ product.title }}">
        {% else %}
          <img src="{% static 'image/default-product.png' %}" alt="Нет изображения">
        {% endif %}
        <h3>{{ product.title }}</h3>
        <p>{{ product.description|truncatewords:15 }}</p>
        <p class="price">{{ product.price }} BYN</p>
        <button class="basket" data-title="{{ product.title }}">Купить</button>
      </div>
    {% endfor %}
  </div>
  </section>

 <!-- ===Пагинация===-->
  <div class="pagination">
    {% if page_obj.has_other_pages %}
      <nav class="list-pages">
        <ul>
          {# Первая и предыдущая страницы #}
          {% if page_obj.has_previous %}
            <li class="page-num">
              <a href="?page=1"> <<</a>
            </li>
            <li class="page-num">
              <a href="?page={{ page_obj.previous_page_number }}"> <</a>
            </li>
          {% endif %}

          {# Номера страниц: текущая, соседние #}
          {% for p in page_obj.paginator.page_range %}
            {% if p == page_obj.number %}
              <li class="page-num page-num-selected">
                 <form method="get" action="">
        <input type="number"
               name="page"
               value="{{ p }}"
               min="1"
               max="{{ page_obj.paginator.num_pages }}"
               onchange="this.form.submit()"
               class="page-input">
      </form>
              </li>
            {% elif p >= page_obj.number|add:-1 and p <= page_obj.number|add:1 %}
              <li class="page-num">
                <a href="?page={{ p }}">{{ p }}</a>
              </li>
            {% endif %}
          {% endfor %}

          {# Следующая и последняя страницы #}
          {% if page_obj.has_next %}
            <li class="page-num">
              <a href="?page={{ page_obj.next_page_number }}"> ></a>
            </li>
            <li class="page-num">
              <a href="?page={{ page_obj.paginator.num_pages }}"> >></a>
            </li>
          {% endif %}
      </ul>
    </nav>
  {% endif %}
</div>

</main>
{% endblock %}
