{% extends 'basic.html' %}
{% load static %}

{% block title %}Каталог{% endblock %}
{% block content %}

<div>
    {% for rubric in rubrics %}
        <p><b>{{ rubric.rubric_name }}</b></p>

        {% if rubric.rubric_name == "Электрика" %}
            {% for subrubric in rubric.electro_set.all %}
                <a href="{% url 'rubric_electro' rubric_id=subrubric.pk %}">{{ subrubric.title }}</a><br>
            {% endfor %}
        {% endif %}

        {% if rubric.rubric_name == "Газовое оборудование" %}
            {% for subrubric in rubric.gas_set.all %}
            <a href="{% url 'rubric_gas' rubric_id=subrubric.pk %}">{{ subrubric.title }}</a><br>
            {% endfor %}
        {% endif %}

        {% if rubric.rubric_name == "Сантехника" %}
             {% for subrubric in rubric.santeh_set.all %}
                 <a href="{% url 'rubric_santeh' rubric_id=subrubric.pk %}">{{ subrubric.title }}</a><br>
             {% endfor %}
        {% endif %}
    {% endfor %}
</div>
{% endblock %}