{% extends 'basic.html' %}
{% load static %}

{% block title %}Обратная связь{% endblock %}
{% block content %}
<main class="main-content">
<div>
 <section class="contact-section">
  <div class="contact-container">
    <h2>С нами можно связаться</h2>
    <form class="contact-form" action="/send-message" method="post">

      <label for="name">Имя</label>
      <input type="text" id="name" name="name" placeholder="Ваше имя" required>

      <label for="email">Email</label>
      <input type="email" id="email" name="email" placeholder="Ваш Email" required>

      <label for="subject">Тема</label>
      <input type="text" id="subject" name="subject" placeholder="Тема сообщения" required>

      <label for="message">Сообщение</label>
      <textarea id="message" name="message" placeholder="Ваше сообщение" rows="5" required></textarea>

      <button type="submit">Отправить</button>
    </form>
  </div>
</section>
</div>
</main>
{% endblock %}