{% extends "basic.html" %}
{% load static %}

{% block title %}Контакты{% endblock %}

{% block content %}
<div>
<h1> Здесь будет много текста </h1>
<!--карта-->
    <div style="position:relative;overflow:hidden; width: 600px; height: 500px;">
        <a href="https://yandex.by/maps/org/spetselektrobeltorg/64618297849/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:0px;">СпецЭлектроБелТорг</a>
        <a href="https://yandex.by/maps/26002/logoysk/category/electronic_goods_store/184108095/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:14px;">Магазин электротоваров в Логойске</a>
        <iframe src="https://yandex.by/map-widget/v1/org/spetselektrobeltorg/64618297849/?ll=27.835430%2C54.199529&z=15.72" width="560px" height="400px" frameborder="1" allowfullscreen="true" style="position:relative;"></iframe>
    </div>
</div>
{% endblock %}
