{% extends 'basic.html' %}
{% load static %}

{% block title %}Вы на главной странице{% endblock %}
{% block content %}
<!-- Лента популярных товаров -->
    <section class="popular-products">
        <h2>Популярные товары</h2>
        <div class="product-carousel">
            {% for product in popular_products %}
            <div class="product-card">
                <img src="{{ product.image.url }}" alt="{{ product.title }}">
                <h3>{{ product.title }}</h3>
                <p>{{ product.description }}</p>
                <p>{{ product.price }} BYN</p>
            </div>
            {% endfor %}
        </div>
    </section>
<!-- Секция каталога -->
<section class="catalog-section">
<h2 style="text-align:center; margin-bottom:20px;"><a href="{% url 'catalog' %}">Каталог</a></h2>
    <div class="catalog-grid">
        {% for rubric in rubrics %}
            {% for sub in rubric.electro_set.all %}
            <a href="{% url 'rubric_electro' sub.pk %}" class="catalog-card">
                <i class="fas fa-lightbulb" ></i>
                <span>{{ sub.title }}</span>
            </a>
            {% endfor %}
            {% for sub in rubric.santeh_set.all %}
            <a href="{% url 'rubric_santeh' sub.pk %}" class="catalog-card">
                <i class="fas fa-tint" ></i>
                <span>{{ sub.title }}</span>
            </a>
            {% endfor %}

            {% for sub in rubric.gas_set.all %}
            <a href="{% url 'rubric_gas' sub.pk %}" class="catalog-card">
                <i class="fas fa-fire"></i>
                <span>{{ sub.title }}</span>
            </a>
            {% endfor %}
        {% endfor %}

    </div>
</section>

{% endblock %}