<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h2><a href="{% url 'catalog' %}">Каталог</a></h2>

<!--карта-->
<div style="position:relative;overflow:hidden;">
    <a href="https://yandex.by/maps/org/spetselektrobeltorg/64618297849/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:0px;">СпецЭлектроБелТорг</a>
    <a href="https://yandex.by/maps/26002/logoysk/category/electronic_goods_store/184108095/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:14px;">Магазин электротоваров в Логойске</a>
    <iframe src="https://yandex.by/map-widget/v1/org/spetselektrobeltorg/64618297849/?ll=27.835430%2C54.199529&z=15.72" width="560" height="400" frameborder="1" allowfullscreen="true" style="position:relative;"></iframe>
</div>




</body>
</html>