{% extends "basic.html" %}

{% block title %}Обработка персональных данных — СпецЭлектроБелТорг{% endblock %}
{% block meta %}
<meta name="description" content="Политика обработки персональных данных пользователей сайта СпецЭлектроБелТорг. Информация о сборе, хранении и защите персональных данных.">
<meta name="keywords" content="персональные данные, защита данных, политика конфиденциальности, СпецЭлектроБелТорг">
{% endblock %}
{% block content %}
<main class="main-content">
<h1>Утверждено директором</h1>
</main>

{% endblock %}