{% extends 'basic.html' %}
{% load static %}
{% block title %}Товары{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/product.css' %}">
<link rel="stylesheet" href="{% static 'css/basket.css' %}">
<link rel="stylesheet" href="{% static 'css/catalog.css' %}">
{% endblock %}

{% block content %}
<main class="main-content">

    <!--  ===кнопка Каталог===-->
  <a href="{% url 'catalog' %}" class="catalog-btn">Каталог</a>

 <!-- === Верхние кнопки разделов === -->
  <div class="catalog-top-buttons">
    {% for rubric in rubrics %}
      <a href="{% url 'subrubrics' rubric.pk %}" class="catalog-btn">
        {% if rubric.rubric_name == "Электрика" %}
          <i class="fas fa-bolt"></i>
        {% elif rubric.rubric_name == "Сантехника" %}
          <i class="fas fa-faucet"></i>
        {% elif rubric.rubric_name == "Газификация" %}
          <i class="fas fa-fire"></i>
        {% else %}
          <i class="fas fa-folder"></i>
        {% endif %}
        <span>{{ rubric.rubric_name }}</span>
      </a>
    {% endfor %}
  </div>


<div class="product-card-single">
    <h3>{{ product.title }}</h3>
    <div class="product-image-container">
    {% if product.photo %}
        <img src="{{ product.photo.url }}" alt="{{ product.title }}">
        {% else %}
        <img src="{% static 'image/default-product.png' %}" alt="Нет изображения">
        {% endif %}
        </div>

    {% if product %}
        <p><b>Описание:</b> {{ product.description|default:"Нет описания" }}</p>
        <p><b>Цена:</b>
            {% if product.price %}
                {{ product.price|floatformat:2|stringformat:"d"}} руб.
            {% else %}
                по запросу
           {% endif %}
       </p>
        <p><b>Код товара:</b> {{product.code}}</p>
    {% endif %}

    <button type="button" data-title="{{ product.title }}" data-price="{{ product.price|floatformat:2 }}" class="basket">Купить</button>

</div>
    <div style="text-align: center;">
    <a href="{% url 'subrubrics' product.rubric.rubric.pk %}" class="product_exit">
        ВЕРНУТЬСЯ В РАЗДЕЛ: <br>{{ product.rubric.title }}
    </a></div>
</main>
{% endblock %}