{% extends 'basic.html' %}
{% load static %}

{% block title %}Каталог электротоваров — СпецЭлектроБелТорг, Логойск{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/product.css' %}">
<link rel="stylesheet" href="{% static 'css/basket.css' %}">
<link rel="stylesheet" href="{% static 'css/catalog.css' %}">
{% endblock %}
{% block meta %}
<meta name="description" content="Каталог электротоваров: кабели, электроустановочные изделия, системы электроснабжения.">
<meta name="keywords" content="электротовары, кабели, электроустановочные изделия, электроснабжение, монтаж, продажа, Логойск">
{% endblock %}
{% block content %}
<main class="main-content">

    <!--  ===кнопка Каталог===-->
  <a href="{% url 'catalog' %}" class="catalog-btn">Каталог</a>

 <!-- === Верхние кнопки разделов === -->
  <div class="catalog-top-buttons">
    {% for rubric in rubrics %}
      <a href="{% url 'subrubrics' rubric.name_translit %}" class="catalog-btn">
        {% if rubric.rubric_name == "Электрика" %}
          <i class="fas fa-bolt"></i>
        {% elif rubric.rubric_name == "Сантехника" %}
          <i class="fas fa-faucet"></i>
        {% elif rubric.rubric_name == "Газификация" %}
          <i class="fas fa-fire"></i>
        {% else %}
          <i class="fas fa-folder"></i>
        {% endif %}
        <span>{{ rubric.rubric_name }}</span>
      </a>
    {% endfor %}
  </div>


    {% include 'includes/breadcrumbs.html' %}

    <!-- карточка товара -->
<div class="product-card-single">
    <div class="product-card-content">

    <div class="product-image-container">
    {% if product.photo %}
        <img src="{{ product.photo.url }}" alt="{{ product.title }}">
        {% else %}
        <img src="{% static 'image/default-product.png' %}" alt="Нет изображения">
        {% endif %}
        </div>

        <div class="product-info">
            <h3>{{ product.title }}</h3>

    {% if product %}
        <p><b>Код товара:</b> {{product.code}}</p>
        <p><b>Описание:</b><br>{{ product.description|default:"Нет описания" }}</p>
    {% endif %}
        <p class="price"><b>Цена: </b>
            {% if product.price %}
                {{ product.price }} BYN
            {% else %}
                по запросу
           {% endif %}
       </p>
    <button type="button" data-title="{{ product.title }}" data-price="{{ product.price|floatformat:2 }}" class="basket">Купить</button>
</div>

    </div>
</div>
    <div style="text-align: center;">
    <a href="{% url 'products'  product.rubric.rubric.name_translit product.rubric.title_translit %}" class="product_exit">
        ВЕРНУТЬСЯ В РАЗДЕЛ: {{ product.rubric.title }}
    </a></div>
</main>
{% endblock %}