{% extends 'basic.html' %}
{% load static %}

{% block title %}Поиск{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
    <link rel="stylesheet" href="{% static 'css/catalog.css' %}">
    <link rel="stylesheet" href="{% static 'css/pagination.css' %}">
    <link rel="stylesheet" href="{% static 'css/search.css' %}">
{% endblock %}
{% block content %}
<main class="main-content">

     <!--  ===кнопка Каталог===-->
  <a href="{% url 'catalog' %}" class="catalog-btn">Посмотреть весь каталог</a>

 <!-- === Верхние кнопки разделов === -->
  <div class="catalog-top-buttons">
    {% for rubric in rubrics %}
      <a href="{% url 'subrubrics' rubric.pk %}" class="catalog-btn">
        {% if rubric.rubric_name == "Электрика" %}
          <i class="fas fa-bolt"></i>
        {% elif rubric.rubric_name == "Сантехника" %}
          <i class="fas fa-faucet"></i>
        {% elif rubric.rubric_name == "Газовое оборудование" %}
          <i class="fas fa-fire"></i>
        {% else %}
          <i class="fas fa-folder"></i>
        {% endif %}
        <span>{{ rubric.rubric_name }}</span>
      </a>
    {% endfor %}
  </div>


<!--<h2>Результаты по запросу</h2>-->
<!--<ul>-->
<!--  {% for item in results %}-->
<!--<li><a href="{% url 'product' item.rubric_id item.subrubric_id item.product_id %}">{{ item.title }}</a><br>{{ item.description }}<br></li>-->
<!--  {% empty %}-->
<!--    <li>Введите поисковый запрос</li>-->
<!--  {% endfor %}-->
<!--</ul>-->

  <section class="search-results">
    <h2>Результаты по запросу</h2>

    {% if results %}
      <ul class="results-list">
        {% for item in results %}
          <li class="result-item">
            <a href="{% url 'product' item.rubric_id item.subrubric_id item.product_id %}" class="result-link">
              {{ item.title }}
            </a>
            <p class="result-desc">{{ item.description }}</p>
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <p class="no-results">Введите поисковый запрос</p>
    {% endif %}
  </section>
</main>
{% endblock %}